* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 12px;
}

header{
    height: 10vh;
    background-color: rgb(30, 66, 66);
    color: white;
    text-align: center;
}

header h1{
    font-size: 3rem;
    padding: 1.5rem;
    color: white;
}

footer{
    margin-top: 2rem;
    height: 10vh;
    background-color: rgb(30, 66, 66);
    color: white;
    text-align: center;
}

footer h1 a{
    font-size: 3rem;
    text-decoration: none;
    color: white;
}

.container{
    display: flex;
}

.produto{
    margin-top: 1rem;
    width: 50%;
    padding: 0 2rem;
}

.produto img{
    max-width: 100%;
}

.produto a{
    margin-top: 1rem;
    display: block;
    width: 100%;
    padding: 1rem;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: rgb(49, 105, 122);
    font-size: 1rem;
}

.carrinho{
    margin-top: 1rem;
    background-color: rgb(30, 66, 66);
    height: 10vh;
    color: white;
    text-align: center;
}

.carrinho h1{
    font-size: 3rem;
    padding: 1.5rem;
    color: white;
}

.itenscarrinho{
    text-align: center;
    font: 0.5rem;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 3rem;
    border-top: dashed;
}

.itenscarrinho p{
    font-size: 1.5rem;
    padding: 1rem;
    color: black;
    border-bottom: dashed;
}